*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Josefin Sans", sans-serif;
}
.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: hsl(0, 0%, 0%);
    overflow: hidden;
    transition: 0.5s;
    padding-top: 50px;
}
.sidebar-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.sidebar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color:hsl(0, 0%, 100%);
    text-transform: uppercase;
    display: block;
    font-size: 25px;
    transition: 0.3s;
    cursor: pointer;
    padding: 1rem;
}
.sidebar a:hover{
    color: hsl(5, 85%, 63%);
}
.sidebar .closebtn{
    position: absolute;
    right: 0px;
    width: 5%;
    margin: 10px;
    cursor: pointer;
}
header{
    background-image: url(image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
}
.header{
    display: flex;
    justify-content: space-between;
}
header a{
    color:hsl(0, 0%, 100%);
    text-decoration: none;
    transition: 0.5s;
}
header a:hover{
    text-decoration: underline;
}
header img{
    width: 10%;
}
 .aaa{
    display: flex;
    gap: 10px;
}
.openbtn{
    display: none;
    cursor: pointer;
}
.header-second{
    margin: 3rem 0;
    border: 1px solid hsl(0, 0%, 100%);
    width: 400px;
    padding: 1rem;
}
.header-second p{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    color:hsl(0, 0%, 100%);
}
.third-section{
    margin: 2.5rem 0;
    padding: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: hsl(0, 0%, 55%);
}
.sub-third{
    padding: 1.25rem;
    background-color: hsl(0, 0%, 100%);
}
.sub-third h3{
    text-transform: uppercase;
    font-size: 2rem;
    width: 300px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.sub-third p{
    width: 350px;
    line-height: 1.5rem;
    margin-top: 1rem;
}
h3{
    text-transform: uppercase;
    padding: 1.25rem;
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 300;
}
.grid-section{
    padding: 3rem;
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 10px;
    column-gap: 5px;
}
.grid-section div{
    height:400px;
    width:230px;
    text-transform: uppercase;
    font-size: 2rem;
    position: relative;
}
.grid-section div p{
    width: 200px;
    margin: 0.5rem 0;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    color:hsl(0, 0%, 100%);
}
.grid1{
    background-image: url('image-deep-earth.jpg');
    background-repeat: no-repeat;
}
.grid2{
    background-image: url('image-night-arcade.jpg');
    background-repeat: no-repeat;
}
.grid3{
    background-image: url('image-soccer-team.jpg');
    background-repeat: no-repeat;
}
.grid4{
    background-image: url('image-grid.jpg');
    background-repeat: no-repeat;
}
.grid5{
background-image: url('image-from-above.jpg');
    background-repeat: no-repeat;
}
.grid6{
     background-image: url('image-pocket-borealis.jpg');
    background-repeat: no-repeat;
}
.grid7{
    background-image: url('image-curiosity.jpg');
    background-repeat: no-repeat;
}
.grid8{
    background-image: url('image-fisheye.jpg');
    background-repeat: no-repeat;
}
.button{
    margin-top: -1.5rem;
    text-align: center;
    padding: 1.25rem;
    margin-bottom: 2rem;
}
.see-all{
    background-color: inherit;
    border: 1px solid hsl(0, 0%, 0%);
    font-weight: 600;
    width: 150px;
    height: 30px;
    text-transform: uppercase;
    text-align: center;
}
footer{
    background: hsl(0, 0%, 0%);
    padding: 3%;
    color: white;
}
footer section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
footer section .aaa{
    margin-top: 1.5rem;
}
.footer-logo{
    width: 40%;
}
footer a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.footer-images{
    display: flex;
    gap: 5px;
    margin-bottom: 1.5rem;
}
.attribution { font-size: 1rem; text-align: center;
margin-bottom: 0.5rem; }
    .attribution a { color:white; }
    @media(max-width:1000px){
        .grid-section div{
            width: 180px;
        }}
    @media(max-width:768px){
        header{
            background-image: url('image-hero-mobile.jpg');
        }
        header #logo{
            width: 15%;
        }
        .header .aaa{
            display: none;
        }
        .header .openbtn{
            width: 5%;
            display: block;
        }
    .header-second{
        padding: auto;
        width: 350px;
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .third-section{
        flex-direction: column;
        text-align: center;
    }
    .third-section img{
        width: 100%;
    }
    .grid-section{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem;
        gap: 10px;
        margin: auto;
    }
    .grid-section div{
        height: 200px;
        width: 100%;
    }
    .grid1{
        background-image: url('image-deep-earth-mobile.jpg');
    }
    .grid2{
        background-image: url('image-night-arcade-mobile.jpg');
    }
    .grid3{
        background-image: url('image-soccer-team-mobile.jpg');
    }
    .grid4{
        background-image: url('image-grid-mobile.jpg');
    }
    .grid5{
        background-image: url('image-from-above-mobile.jpg');
    }
    .grid6{
     background-image: url('image-pocket-borealis-mobile.jpg');
    }
    .grid7{
        background-image: url('image-curiosiry-moblie.jpg');
    }
    .grid8{
        background-image: url('image-fisheye-mobile.jpg');
    }
    footer{
        padding: 2rem;
    }
    footer section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }
    .footer-logo{
        width: 20%;
    }
    footer section .aaa{
        flex-direction: column;
        align-items: center;
    }
    .footer-images{
        justify-content: center;
    }
    }
    @media(min-width:1024px){
     .third-section{
        flex-direction: row;
     }
        .sub-third{
    position: absolute;    
    right: 15%;       
     top: 22rem; }
    }
